@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CYP_Industry4.0_APITool</h1>
    <p>CYP_Industry4.0_2021</p>
    <p>Any question please call 02-22232020#1019(國嶂) <br />or mail "jang.wang@cypress.com.tw" </p>
</div>
