@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CYP_Industry4.0_APITool</h1>
    <p>CYP_Industry4.0_2021</p>
    <p>Any question please call 02-22232020#1019(國嶂) <br />or mail "jang.wang@cypress.com.tw" </p>
    <p><img width="60%" height="60%" src ="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/80961205_2619289008136726_3601533285483675648_o.jpg?_nc_cat=109&ccb=2&_nc_sid=730e14&_nc_ohc=UfSWXCeTXoAAX_5xpM2&_nc_ht=scontent.ftpe7-2.fna&oh=f8a04e6bcfdc15ee15638f495a16d53a&oe=5FC0CEB7"></p>
</div>
